.my-container1 {
	margin-top: 40px;
}

.my-container1 h1 {
	color: #BD1E51;
}

.my-container1 h1 span {
	color: #000000;
}

.my-container1 .col {
	margin: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #F1F1F1;
	border-radius: 5px;
}

.my-container1 .col table td:first-child {
	width: 20%;
}

.my-container1 .col table td {
	text-align: left;
	padding: 10px;
}

.my-container1 .col h4 {
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 3px solid #BD1E51;
}

.my-container1 .col div {
	padding-top: 10px;
}

.my-container1 .col div p {
	min-height: 50px;
} 

.my-container2 {
	margin-top: 40px;	
	margin-bottom: 40px;
}

.my-container2 .btn {
	background-color: #BD1E51;
	border-color: #BD1E51;
	border-radius: 50px;
}

.my-container2 .btn:hover {
	background-color: #F1B814;
	border-color: #F1B814;
}

.my-container {
	padding-top: 40px;
	padding-bottom: 40px;
}

.my-container .input-group-text {
	width: 10rem;
}

.my-container .card {
	margin-bottom: 25px;
}

.my-container .card-imc {
	align-items: center;
}

.my-container .row-regime {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 150px;
	padding-right: 150px;
	font-size: 25px;
}

.my-container table .card {
	background-color: #BD1E51;
	color: white;
	border-radius: 50%;
}

/* .my-container form input {
	margin-top: 10px;
	margin-bottom: 10px;
} */

footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

footer .row .col p i {
	margin-left: 5px;
	margin-right: 5px;
}

footer .row .col h3 {
	display: inline-block;
	border-bottom: 3px solid #000;
	margin-bottom: 20px;
}